@media (max-width: 768px) {
  .icons {
    // background: #000 !important;
    width: 20%;
  }

  .pages {
    align-self: center;
    align-content: center;
    span {
      //   background: #000 !important;
      width: 100%;
    }
  }
}
