.sidebar {
  width: 84px;
  height: 100vh;
}

.showcase {
  width: 98.8vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;

  .hero {
    margin-top: 8rem;
  }
  // flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 5rem !important;
}
