.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // flex-wrap: wrap;
  //   background-color: rgba(148, 152, 173, 1);
  //   border-bottom-left-radius: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0 5rem 0;
  // background-color: black;
  .img {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .texts {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: baseline;
    width: 50%;
    // margin-left: 11%;
    margin: 0 10%;
    .heroMore {
      font-size: 1em;
    }
  }
}
@media (max-width: 1200px) {
  .hero {
    flex-direction: column-reverse !important;
    padding: 0 !important;
    .img {
      width: 90% !important;
      display: block;
      img {
        border-radius: 20px;
      }
    }
    .texts {
      width: 90% !important;
    }
    // .heroMore {
    //   font-size: 2em;
    // }
  }
}

@media (max-width: 768px) {
  .heroMore {
    font-size: 0.7em !important;
    cursor: pointer;
  }
}
