.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  //   background-color: rgba(148, 152, 173, 1);
  //   border-bottom-left-radius: 50px;
  width: 100%;
  margin: 0 auto;
  .img {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .texts {
    display: flex;
    flex-direction: column;
    // justify-content: ;
    align-items: baseline;
    width: 40%;
    margin-left: 10%;
    // margin: 0 auto;
    .more {
      font-size: 0.875em !important;
    }
  }
}
