.slider-parent {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 2rem;
  margin-bottom: 10rem !important;
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 10s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-350px * 5));
  }
}

// Styling
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 15rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80vw;

  &::before,
  &::after {
    @media (min-width: 1200px) {
      @include white-gradient;
    }
    content: "";
    height: 10rem;
    position: absolute;
    width: 350px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(350px * 10);
  }

  .slide {
    height: 15rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: #f8f8f8;
    margin: 1rem;
    padding: 1%;
  }
}
