.f_container {
  width: 100%;
  .footer {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    .footer.inc {
      p {
        width: 10%;
      }
      .s_links {
        .social_btn {
          border: 0px solid transparent;
          border-radius: 1rem;
        }
      }
    }
    .usefull_pages {
      color: #fff !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        text-decoration: none;
        &:hover,
        &.active {
          font-weight: bold;
          transition: all ease-in-out 200ms;
        }
      }
    }
    // .contact_us {
    //   .icon {
    //     color: ;
    //   }
    // }
  }
}
ul {
  color: azure;
}
