.bg_img {
  background: url(/background.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  backdrop-filter: invert(20%);
  /* max-width: 110%; */
  background-attachment: fixed;

  /* height: 100%; */
}
