.about_us {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  // flex-wrap: wrap;
  //   background-color: rgba(148, 152, 173, 1);
  //   border-bottom-left-radius: 50px;
  width: 100%;
  margin: 0 auto;
  // padding: 10rem 0 10rem 0;
  background: #ffff !important;

  .img {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }
  .texts {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: baseline;
    width: 40%;
    gap: 1.5rem;
    // margin-left: 11%;
    margin: 0 5%;
    .more {
      font-size: 0.875em !important;
    }
  }
}

@media (max-width: 1200px) {
  .about_us {
    flex-direction: column !important;
    padding: 0 !important;

    .about_links {
      display: flex !important;
      flex-direction: row !important;
      gap: 1rem;
    }
    .img {
      width: 100% !important;
      display: block;
    }
    .texts {
      width: 90% !important;
    }
  }
}
